.contacts
  a.contact(href='tel:+79000000000')
    i.fa.fa-mobile.contact__icon
    span.contact__text +7 (900) 000-00-00
  a.contact(href='mailto:example@contoso.com')
    i.fa.fa-envelope.contact__icon
    span.contact__text example@contoso.com
  a.facebook-icon(href='facebook.com')
    i.fa.fa-facebook
